{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}BriteCore{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap 4.1.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    

    <!-- Your stuff: Third-party CSS libraries go here -->
    
    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    
    
    {% endblock %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">BriteCore API Docs</a>

      </nav>

    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
<h1 id="britecoresoftwareengineerproductdevelopmentchallenge">BriteCore Software Engineer (Product Development) Challenge</h1>

<h2 id="basicuserflow">Basic User Flow</h2>

<ul>
<li>Visit or Click on <em>Build Insurer Form</em>  <a href="http://tim-britecore.s3-website-us-east-1.amazonaws.com/#/build">here</a></li>

<li>Visit or Click on <em>Insurer Forms</em> and access all created Insurer Forms.</li>

<li>To make response: Click on <em>View Form</em> </li>

<li>To view responses: Click on <em>View Responses</em></li>

<li>You can also Download responses</li>
</ul>

<h2 id="deliverables">Deliverables</h2>

<h3 id="data">Data</h3>

<ul>
<li>Python file containing ORM: <a href="https://gitlab.com/Timtech4u/britecore/blob/master/migrations.py">here</a></li>

<li>Entity Relationship Diagram: <a href="https://gitlab.com/Timtech4u/britecore/raw/master/BriteCoreAPIModel.jpg">here</a></li>
</ul>

<h3 id="backend">Backend</h3>

<ul>
<li>REST API Documentation: <a href="https://tim-britecore.tk/docs">here</a></li>

<li>Django REST Framework Class Based Views: <a href="https://gitlab.com/Timtech4u/britecore/blob/master/risks/views.py">here</a></li>
</ul>

<h3 id="frontend">Frontend</h3>

<ul>
<li>Deployed Version: <a href="http://tim-britecore.s3-website-us-east-1.amazonaws.com">here</a></li>

<li><em>Screenshots</em> <a href="#screenshots">here</a></li>
</ul>

<h3 id="finaldeliverables">Final Deliverables</h3>

<ul>
<li>Backend Codes on GitLab: <a href="https://gitlab.com/Timtech4u/britecore">here</a></li>

<li>Frontend Codes on GitLab: <a href="https://gitlab.com/Timtech4u/britecore-ui">here</a></li>

<li>Codes solution to test: <a href="https://gitlab.com/Timtech4u/britecore/blob/master/quiz.py">here</a></li>
</ul>

<h2 id="technologiesused">Technologies Used</h2>

<h3 id="backend-1">Backend</h3>

<ul>
<li>Django</li>

<li>Django Rest Framework</li>

<li>Docker &amp; Docker Compose</li>

<li>AWS EC2</li>

<li>GitLab CI</li>
</ul>

<h3 id="frontend-1">Frontend</h3>

<ul>
<li>Vue.js</li>

<li>Vuex</li>

<li>Axios</li>

<li>Element UI</li>

<li>AWS S3</li>
</ul>

<h2 id="testsriskstestspy"><a href="./risks/tests.py">Tests</a></h2>

<ul>
<li>To Test Risk Insurer Create: <code>python manage.py test risks.tests.TestInsurerResponses.test_create</code></li>

<li>To Test Risk Insurer List: <code>python manage.py test risks.tests.TestInsurerResponses.test_list</code></li>
</ul>

<h2 id="screenshots">Screenshots</h2>

<h3 id="buildinganinsurerform">Building an Insurer Form</h3>

<p><img src="https://gitlab.com/Timtech4u/britecore/raw/master/ui/build.PNG" alt="build" /></p>

<h3 id="listingallinsurerforms">Listing all Insurer Forms</h3>

<p><img src="https://gitlab.com/Timtech4u/britecore/raw/master/ui/list.PNG" alt="list" /></p>

<h3 id="aninsurerform">An Insurer Form</h3>

<p><img src="https://gitlab.com/Timtech4u/britecore/raw/master/ui/form.PNG" alt="form" /></p>

<h3 id="aninsurertable">An Insurer Table</h3>

<p><img src="https://gitlab.com/Timtech4u/britecore/raw/master/ui/table.PNG" alt="table" /></p>

<h3 id="downloadedresponse">Downloaded Response</h3>

<p><img src="https://gitlab.com/Timtech4u/britecore/raw/master/ui/excel.PNG" alt="excel" /></p>

<h3 id="projectsetupanddeploymentdocsheresetuprst">Project Setup and Deployment Docs: <a href="./SETUP.rst">here</a></h3>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Required by Bootstrap v4.1.1 -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      

    {% endblock javascript %}
  </body>
</html>
 
